USE [master]
GO
/****** Object:  Database [Manav_Bharti_National_School]    Script Date: 5/13/2026 3:20:56 PM ******/
CREATE DATABASE [Manav_Bharti_National_School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Manav_Bharti_National_School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Manav_Bharti_National_School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Manav_Bharti_National_School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Manav_Bharti_National_School_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Manav_Bharti_National_School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Manav_Bharti_National_School]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 5/13/2026 3:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disclosure]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disclosure](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[AddedBy] [nvarchar](100) NULL,
	[AddedDate] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashNews]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashNews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[News_Date] [nvarchar](50) NULL,
	[News_Details] [nvarchar](max) NULL,
	[AddedBy] [nvarchar](100) NULL,
	[AddedDate] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GalleryCategory]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryCategory](
	[CategoryName] [nchar](50) NULL,
	[EventDate] [nchar](50) NULL,
	[AddedBy] [nchar](50) NULL,
	[AddedDate] [nchar](30) NULL,
	[Status] [nchar](20) NULL,
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [nvarchar](30) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GalleryImages]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryImages](
	[CategoryID] [int] NULL,
	[Title] [nchar](50) NULL,
	[ImagePath] [nchar](50) NULL,
	[AddedDate] [nchar](30) NULL,
	[AddedBy] [nchar](30) NULL,
	[Status] [nchar](20) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginMaster]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notices]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notices](
	[Notice_Title] [nchar](50) NULL,
	[Notice_Date] [datetime] NULL,
	[Notice_Details] [nchar](50) NULL,
	[Image] [nchar](50) NULL,
	[AddedBy] [nchar](50) NULL,
	[AddedDate] [nchar](50) NULL,
	[Status] [nchar](20) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[Title] [nchar](50) NULL,
	[Image] [nchar](50) NULL,
	[AddedBy] [nchar](50) NULL,
	[AddedDate] [nchar](30) NULL,
	[Status] [nchar](20) NULL,
	[Sub_Title] [nvarchar](100) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffDepartment]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffDepartment](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffType] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FatherHusbandName] [nvarchar](100) NULL,
	[Department] [nvarchar](100) NULL,
	[Designation] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Nationality] [nvarchar](50) NULL,
	[Mobile] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NULL,
	[DOB] [date] NOT NULL,
	[Qualification] [nvarchar](200) NULL,
	[ExperienceYears] [nvarchar](20) NULL,
	[Address] [nvarchar](300) NULL,
	[Photo] [nvarchar](200) NULL,
	[Signature] [nvarchar](200) NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [nvarchar](50) NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StaffDepartment] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[GalleryImages]  WITH CHECK ADD  CONSTRAINT [FK_GalleryImages_GalleryCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[GalleryCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[GalleryImages] CHECK CONSTRAINT [FK_GalleryImages_GalleryCategory]
GO
/****** Object:  StoredProcedure [dbo].[glbl_Login]    Script Date: 5/13/2026 3:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[glbl_Login]
(
    @var1 NVARCHAR(100),
    @var2 NVARCHAR(100)
)
AS
BEGIN

SELECT 
    Id AS ID,
    Type,
    CreatedDate AS ModifiedDate,
    UserName AS user_id
FROM LoginMaster
WHERE UserName = @var1
AND Password = @var2
AND Status = 'Active'

END
GO
USE [master]
GO
